.main {
  margin: 10rem 2rem 10rem 2rem;
}

.center {
  text-align: center;
}

.v-padding {
  padding: 32px 0 12px 0;
}

.padding {
  padding: 32px 32px 32px 32px;
}

.bottom {
  bottom: 5em;
  position: absolute;
}
